In [1]:
import pandas as pd

In [12]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [13]:
type(ufo)

pandas.core.frame.DataFrame

In [14]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [19]:
type(ufo['City'])

pandas.core.series.Series

In [20]:
ufo['City'].head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [23]:
ufo.City.head() # sane as ufo['City'].head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [26]:
ufo['Colors Reported'].head() # cannot use 'ufo.Color Reported'

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Colors Reported, dtype: object

In [29]:
type(ufo.shape)

tuple

In [30]:
ufo.shape[0] # returns total rows

18241

In [32]:
ufo.shape[1] # returns total columns

5

In [34]:
city_state = ufo.City + '[' + ufo.State + ']'

In [35]:
city_state.head()

0                  Ithaca[NY]
1             Willingboro[NJ]
2                 Holyoke[CO]
3                 Abilene[KS]
4    New York Worlds Fair[NY]
dtype: object

In [41]:
# create a new series names location
# should use bracket notation to create a series
ufo['Location'] = ufo.City + ', ' + ufo.State

In [42]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"